<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta charset="utf-8" />
<title></title>
</head>
<body>
	<table bgcolor="#F3F3F3" width="100%" border="0" cellspacing="0"
		cellpadding="0" style="padding: 10px;">
		<tbody>
			<tr>
				<td><br aria-hidden="true"> <br aria-hidden="true">
					<table align="center" bgcolor="#F3F3F3" width="100%" border="0"
						cellspacing="0" cellpadding="0" style="max-width: 600px;">
						<tbody>
							<tr>
								<td bgcolor="white">
									<table align="center" width="100%" border="0" cellspacing="0"
										cellpadding="0" style="max-width: 600px;">
										<tbody>
											<tr>
												<td style="font-size: 1px; line-height: 1px;">&nbsp;</td>
												<td align="left" valign="middle" width="1678">
													<table width="100%" border="0" cellspacing="0"
														cellpadding="0">
														<tbody>
															<tr>
																<td width="86%">&nbsp;</td>
																<td width="1%">&nbsp;</td>
																<td align="right" width="13%">&nbsp;</td>
															</tr>
															<tr>
																<td>&nbsp;</td>
																<td>&nbsp;</td>
																<td align="right">&nbsp;</td>
															</tr>
															<tr>
																<td align="center" colspan="3"
																	style="color: #3E3E3E; font-size: 18pt; font-family: Lato, Helvetica, arial, sans-serif; font-weight: 800; line-height: 150%;">
																	Account Created</td>
															</tr>
															<tr>
																<td>&nbsp;</td>
																<td>&nbsp;</td>
																<td align="right">&nbsp;</td>
															</tr>
															<tr>
																<td colspan="3"
																	style="color: #3E3E3E; font-size: 20pt; font-family: Lato, Helvetica, arial, sans-serif; font-weight: 700; text-align: left; line-height: 120%;">
																	<!-- <img data-imagetype="External" src="blob:https://outlook.live.com/41aeec97-5272-41f3-9d1b-e647f7b08ac3" originalsrc="http://img.transmail.ftrans01.com/images/axisdirectinsmt/axisdirectinsmt_2763/Header2.png" data-connectorsauthtoken="1" data-imageproxyendpoint="/actions/ei" data-imageproxyid="" width="100%"> -->
																	<img src="images/UserCreation.png"
																	data-th-src="|cid:UserCreationLogo|"
																	data-connectorsauthtoken="1"
																	data-imageproxyendpoint="/actions/ei"
																	data-imageproxyid="" width="100%">
																</td>
															</tr>
														</tbody>
													</table>
												</td>
												<td style="font-size: 1px; line-height: 1px;">&nbsp;</td>
											</tr>
											<tr>
												<td style="font-size: 1px; line-height: 1px;">&nbsp;</td>
												<td align="left"
													style="color: #3E3E3E; font-size: 11pt; font-family: Lato, Helvetica, arial, sans-serif; font-weight: 400; text-align: left; line-height: 150%;">
													&nbsp;</td>
												<td style="font-size: 1px; line-height: 1px;">&nbsp;</td>
											</tr>
											<tr>
												<td width="40" style="font-size: 1px; line-height: 1px;">
													&nbsp; <!-- <img data-imagetype="External" src="blob:https://outlook.live.com/2c09569f-f103-41fe-bafb-adcd4719cba9" originalsrc="http://img.transmail.ftrans01.com/images/axisdirectinsmt/axisdirectinsmt_2763/white2.png" data-connectorsauthtoken="1" data-imageproxyendpoint="/actions/ei" data-imageproxyid="" width="30" height="20"> -->
												</td>
												<td align="left"
													style="color: #3E3E3E; font-size: 11pt; font-family: Lato, Helvetica, arial, sans-serif; font-weight: 400; text-align: left; line-height: 150%;">
													Hey <b th:text="${name}">name</b>, <br aria-hidden="true">
													<br aria-hidden="true"> <b>Congratulation!!</b> Your SWIFT account has been successfully created. <br aria-hidden="true">
													<br aria-hidden="true">
												</td>
											</tr>
											<tr>
												<td style="font-size: 1px; line-height: 1px;">&nbsp;</td>
												<td align="center"
													style="color: #3E3E3E; font-size: 14pt; font-family: Lato, Helvetica, arial, sans-serif; font-weight: 600; line-height: 150%;">
													Here are your details with us</td>
												<td style="font-size: 1px; line-height: 1px;">&nbsp;</td>
											</tr>
											<tr>
												<td style="font-size: 1px; line-height: 1px;">&nbsp;</td>
												<td align="left"
													style="color: #3E3E3E; font-size: 11pt; font-family: Lato, Helvetica, arial, sans-serif; font-weight: 400; text-align: left; line-height: 150%;">
													&nbsp;</td>
												<td style="font-size: 1px; line-height: 1px;">&nbsp;</td>
											</tr>
											<tr>
												<td style="font-size: 1px; line-height: 1px;">&nbsp;</td>
												<td align="left"
													style="color: #3E3E3E; font-size: 11pt; font-family: Lato, Helvetica, arial, sans-serif; font-weight: 400; text-align: left; line-height: 150%;">
													<table align="center" width="100%" border="0"
														style="color: #231F20; font-size: 11pt; font-family: Lato, sans-serif; font-weight: 400; text-align: justify; background-color: #F5F6F7; border-radius: 10px; padding: 10px; line-height: 200%;">
														<tbody>
															<tr>
																<td>User ID: <b th:text="${username}">username</b><br
																	aria-hidden="true"> Password: <b
																	th:text="${password}">password</b> <br
																	aria-hidden="true"> MangoSoft Application URL: <b
																	th:text="${url}">url</b>
																</td>
															</tr>
														</tbody>
													</table>
												</td>
												<td style="font-size: 1px; line-height: 1px;">&nbsp;</td>
											</tr>
											<tr>
												<td style="font-size: 1px; line-height: 1px;">&nbsp;</td>
												<td align="right"
													style="color: #3E3E3E; font-size: 10pt; font-family: Lato, Helvetica, arial, sans-serif; font-weight: 400; line-height: 150%;">
													&nbsp;</td>
												<td style="font-size: 1px; line-height: 1px;">&nbsp;</td>
											</tr>
											<tr>
												<td style="font-size: 1px; line-height: 1px;">&nbsp;</td>
												<td align="center" 
													style="color: #3E3E3E; font-size: 10pt; font-family: Lato, Helvetica, arial, sans-serif; font-weight: 400; line-height: 150%;">
													&nbsp; 
                                                    <a href="http://10.9.161.42:9010/login" target="_blank">Visit SWIFT.com!</a> 
												</td>

												<td style="font-size: 1px; line-height: 1px;">&nbsp;</td>
											</tr> 
											<tr>
												<td style="font-size: 1px; line-height: 1px;">&nbsp;</td>
												<td align="right"
													style="color: #3E3E3E; font-size: 10pt; font-family: Lato, Helvetica, arial, sans-serif; font-weight: 400; line-height: 150%;">
													&nbsp;</td>
												<td style="font-size: 1px; line-height: 1px;">&nbsp;</td>
											</tr>
											<tr>
												<td style="font-size: 1px; line-height: 1px;">&nbsp;</td>
												<td align="left"
													style="color: #3E3E3E; font-size: 11pt; font-family: Lato, Helvetica, arial, sans-serif; font-weight: 400; line-height: 150%;">
													If you have any questions, feel free to reply this to email.<br
													aria-hidden="true">
                                                    <br
													aria-hidden="true">
                                                     <br
													aria-hidden="true">
                                                    Regards,
                                                    <br
													aria-hidden="true">
                                                    <br
													aria-hidden="true">
 
<b>MangoSoft Pvt Ltd.</b>
                                                    </td>
												<td style="font-size: 1px; line-height: 1px;">&nbsp;</td>
												
											</tr>
											<tr>
												<td style="font-size: 1px; line-height: 1px;">&nbsp;</td>
												<td align="right"
													style="color: #3E3E3E; font-size: 10pt; font-family: Lato, Helvetica, arial, sans-serif; font-weight: 400; line-height: 150%;">
													&nbsp;</td>
												<td style="font-size: 1px; line-height: 1px;">&nbsp;</td>
											</tr>
											<tr>
												<td style="font-size: 1px; line-height: 1px;">&nbsp;</td>
												<td align="center" valign="middle"
													style="color: black; font-size: 15px; font-family: Lato, Helvetica, arial, sans-serif; line-height: 18px;">
													&nbsp;</td>
												<td style="font-size: 1px; line-height: 1px;">&nbsp;</td>
											</tr>

										</tbody>
									</table>
								</td>
							</tr>

						</tbody>
					</table> </map></td>
			</tr>
		</tbody>
	</table>

</body>
</html>
